<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">

<channel>
  <title>m1t</title>
  <description>Free web building tutorials</description>
  <item>
    <title>m1d1</title>
    <description>Guillermo!</description>
  </item>
  <item>
    <title>m1d2</title>
    <description>stuff and things!</description>
  </item>
</channel>

</rss>