<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
<title>m1t</title>
<description>This is a test meeting title</description>
<link>http://www.domain.com/link.htm</link>
<lastBuildDate>Mon, 28 Aug 2006 11:12:55 -0400 </lastBuildDate>
<pubDate>Tue, 29 Aug 2006 09:00:00 -0400</pubDate>

<item>
<title>m1d1</title>
<description>This is a test meeting description</description>
<link>http://www.domain.com/link.htm</link>

</item>

<title>m1d2</title>
<description>this is a test meeting description 2</description>

</item>

</channel>
</rss>

<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">

<channel>
  <title>m1t</title>
  <link>http://www.w3schools.com</link>
  <description>Free web building tutorials</description>
  <item>
    <title>m1d1</title>
    <link>http://www.w3schools.com/rss</link>
    <description>New RSS tutorial on W3Schools</description>
  </item>
  <item>
    <title>m1d2</title>
    <link>http://www.w3schools.com/xml</link>
    <description>New XML tutorial on W3Schools</description>
  </item>
</channel>

</rss>